@import "tailwindcss";

@theme {
    @keyframes marquee {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-50%);
        }
    }
}

.animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee 60s linear infinite;
}

.animate-marquee-slow {
    display: flex;
    width: max-content;
    animation: marquee 120s linear infinite;
}

.animate-marquee:hover,
.animate-marquee-slow:hover {
    animation-play-state: paused;
}